<a href="https://colab.research.google.com/github/seldoncode/Python_CoderDojo/blob/main/Python_CoderDojo10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Métodos
Los métodos son funciones que se aplican a objetos.
Por ejemplo:
* los objetos de tipo string (```str```) o cadena alfanumérica tienen una serie de métodos, por ejemplo ```len```
* los objetos de tipo lista tienen otra serie de métodos, por ejemplo ```len```

In [ ]:
len('Hola')

4

In [ ]:
len([10,20,30])

3

## Listar los métodos de un tipo de objeto con ```dir```

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### ```upper```

In [ ]:
cadena = "Vivo en Los Ángeles pero en Navidad regreso a Madrid."
cadena.upper()

'VIVO EN LOS ÁNGELES PERO EN NAVIDAD REGRESO A MADRID.'

## ```lower```

In [ ]:
minusculas = cadena.lower()              # asignamos el resultado a una nueva variable, la variable original 'cadena' no ha variado
minusculas

'vivo en los ángeles pero en navidad regreso a madrid.'

## ```capitalize```
Pone en mayúscula solo el primer caracter de la cadena.

In [ ]:
cadena.capitalize()

'Vivo en los ángeles pero en navidad regreso a madrid.'

In [ ]:
ciudad = "roma"
ciudad.capitalize()

'Roma'

## ```title```
Pone en mayúscula el primer caracter de cada palabra de la cadena.

In [ ]:
destino = "new york"
destino.title()

'New York'

### Responder s/n en mayúsculas o minúsculas
Procedimiento que acepta que respondamos a una pregunta con mayúsculas o minúsculas las letras s o n, para contestar si o no.

In [ ]:
respuesta = input("Quiere salir del juego (s/n): ")
if respuesta.lower()=="s":                              # tanto si pulsamos s como S, el juego finaliza
  print("Juego finalizado.")
else:
  print("Volvamos a jugar.")

Quiere salir del juego (s/n): S
Juego finalizado.

## Ayuda sobre los métodos de un objeto
* Podemos solicitar ayuda sobre todos los métodos de un tipo de objeto, por ejemplo sobre str:
 - ```help(str)```
* Podemos solicitar ayuda sobre un método concreto:
 - ```help(str.title)```

In [ ]:
help(str.title)

Help on method_descriptor:

title(self, /)
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

## ```strip```
* Elimina espacios al inicio y al final del string.
* También puede eliminar otro tipo de caracteres que indiquemos, al inicio y al final.

In [ ]:
frase = "  informe de resultados     "         # queremos eliminar los espacios en blanco al inicio y al final de la frase
frase.strip()

'informe de resultados'

In [ ]:
frase = "::::Salida por pantalla: terminal:::::"
frase_limpia = frase.strip(':')                    # elimina el caracter ':' del inicio y del final, pero no del centro
frase_limpia                                       # nueva variable, la variable original no se altera

'Salida por pantalla: terminal'

In [ ]:
resultado = "1,2,3,4,5,"
resultado.strip(',')                               # muy útil para quitar la última coma de un listado

'1,2,3,4,5'

## ```split```
Separa una los elementos de una cadena.
* Si no se pone argumento, separa por los espacios
* Si el argumento es un caracter, separa por ese caracter

In [ ]:
frase = "La probabilidad nunca es cero. Tiende a cero."
frase.split()                                                 # devuelve una lista

['La', 'probabilidad', 'nunca', 'es', 'cero.', 'Tiende', 'a', 'cero.']

In [ ]:
frase.split('.')                                              # separa por el punto, eliminando el punto

['La probabilidad nunca es cero', ' Tiende a cero', '']

In [ ]:
frase.split(" ")

['La', 'probabilidad', 'nunca', 'es', 'cero.', 'Tiende', 'a', 'cero.']

### Programa que separa todas las palabras de un texto
Devuelve las palabras sin:
* sin espacios
* sin comas
* sin puntos

In [ ]:
# Blas de Otero
poema = '''Por los puentes de Zamora,
sola y lenta, iba mi alma.

No por el puente de hierro,
el de piedra es el que amaba.

A ratos miraba al cielo,
a ratos miraba al agua.

Por los puentes de Zamora,
sola y lenta, iba mi alma.'''

palabras = poema.split()
for palabra in palabras:
  palabra = palabra.strip('.')
  palabra = palabra.strip(',')
  print(palabra)

Por
los
puentes
de
Zamora
sola
y
lenta
iba
mi
alma
No
por
el
puente
de
hierro
el
de
piedra
es
el
que
amaba
A
ratos
miraba
al
cielo
a
ratos
miraba
al
agua
Por
los
puentes
de
Zamora
sola
y
lenta
iba
mi
alma

### Formatear una carta
Se pregunta al usuario por tres argumentos:
* tratamiento: Sr/Sra  según se trate de señor o señora. Admite mayúsculas o minúsculas, pero luego lo imprime correctamente.
* Nombre. Admite mayúsculas o minúsculas, pero luego lo imprime correctamente.
* Apellido. Admite mayúsculas o minúsculas, pero luego lo imprime correctamente.
* Si es señor pone la palabra 'elegido' si es señora pone la palabra 'elegida'.
* El texto es el siguiente con estos datos:
 - sr
 - alberto josé
 - gil

 Sr. Alberto José Gil.
 Le comunico que ha sido elegido
 para formar parte del jurado que cocederá
 el premio de poesía anual que otorga nuestra
 asociación de escritores.

In [ ]:
print("MODELO DE CARTA")
while True:
  tratamiento = input("Indique el tratamiento Sr/Sra: ")
  nombre = input("Indique el nombre: ")
  apellido = input("Indique el apellido: ")
  tratamiento = tratamiento.strip()
  tratamiento = tratamiento.strip('.')
  tratamiento = tratamiento.capitalize()
  nombre = nombre.title()
  apellido = apellido.title()

  if tratamiento=="Sr":
    oa="o"
  else:
    oa="a"

  print(f"\n{tratamiento}. {nombre} {apellido}. \nLe comunico que ha sido elegid{oa} \npara formar parte del jurado \nque cocederá el premio de poesía \nanual que otorga nuestra \nasociación de escritores.")
  print()
  seguir = input("Desea imprimir otra carta (s/n): ")
  if seguir.lower()=='n':
    break

MODELO DE CARTA
Indique el tratamiento Sr/Sra: sr
Indique el nombre: alberto miguel
Indique el apellido: olmo poza

Sr. Alberto Miguel Olmo Poza.
Le comunico que ha sido elegido
para formar parte del jurado
que cocederá el premio de poesía
anual que otorga nuestra
asociación de escritores.

Desea imprimir otra carta (s/n): s
Indique el tratamiento Sr/Sra: sra.
Indique el nombre: maría josé
Indique el apellido: gil susilla

Sra. María José Gil Susilla.
Le comunico que ha sido elegida
para formar parte del jurado
que cocederá el premio de poesía
anual que otorga nuestra
asociación de escritores.

Desea imprimir otra carta (s/n): n

### Formateando texto
Disponemos de una matriz (lista de listas) con los datos de un presupuesto:
* producto
* unidades
* precio unitario

Queremos imprimirlo con formato.

#### Versión 1

In [ ]:
print()
print("PRESUPUESTO")
print()

compras = [["Tornillos",800,11.05],
           ["Tuercas",900,5,1],
           ["Arandelas",1200,.98],
           ["Puntas",10500,2]]

for c in compras:
  print(f"{c[0]}: {c[1]} * {c[2]} = {c[1]*c[2]}")

PRESUPUESTO

Tornillos: 800 * 11.05 = 8840.0
Tuercas: 900 * 5 = 4500
Arandelas: 1200 * 0.98 = 1176.0
Puntas: 10500 * 2 = 21000

#### Versión 2
Usando separadores y formateando las cantidades.

In [ ]:
print()
print("PRESUPUESTO".center(51))            # centra 20+11+20  (20 espacios en blanco por cada lado y 11 de la palabra 'presupuesto')
print()

compras = [["Tornillos",800,11.05],
           ["Tuercas",900,5,1],
           ["Arandelas",1200,.98],
           ["Puntas",10500,2]]

for c in compras:
  print(f"{c[0]:12}: {c[1]:8d} * {c[2]:8.2f} = {c[1]*c[2]:12.2f}")
  # :12 usa 12 caracteres de espacio para poner el producto
  # :8d usa 8 caracteres y lo formate como número entero
  # :8.2f usa 8 caracteres y lo formatea como número de coma flotante a 2 decimales
  # :12.2f usa 12 caracteres y lo formatea como número de coma flotante a 2 decimales

                   PRESUPUESTO

Tornillos   :      800 *    11.05 =      8840.00
Tuercas     :      900 *     5.00 =      4500.00
Arandelas   :     1200 *     0.98 =      1176.00
Puntas      :    10500 *     2.00 =     21000.00

In [ ]:
len("PRESUPUESTO")

11

# Las listas son un tipo de dato mutable
## Método ```append```
* Podemos añadir un elemento al final de una lista con ```append```
  - El método append admite un argumento, solo uno
* También podemos concatenar un nuevo elemento a una lista

In [ ]:
lista = [1,2,3]
lista.append(4)        # append añade la final un elemento.
lista

[1, 2, 3, 4]

In [ ]:
lista = lista + [5]    # concatenando
lista

[1, 2, 3, 4, 5]

In [ ]:
lista += [6,7]         # concatenamos listas
lista

[1, 2, 3, 4, 5, 6, 7]

### Crear una lista con los números del 1 al 10
Partiendo de una lista vacía y añadiendo elemento a elemento.

#### Método 1. Con ```append```

In [ ]:
l = []
for i in range(10):
  l.append(i+1)
  print(l)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Método 2. Concatenando

In [ ]:
l = []
for i in range(10):
  l += [i+1]
  print(l)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Separar pares e impares
* Generar una lista de 30 números aleatorios enteros, sin repetición, entre 10 y 99
* Separar la lista anterior en dos listas, una de números pares y otra de impares
* Mostrar en pantalla las tres listas ordenadas

#### Método 1
Usando randint, sort, +=

In [ ]:
from random import randint, seed
seed()
lista = []
contador = 0
while contador<30:
  n = randint(10,99)
  if n not in lista:
    lista.append(n)
    contador += 1
lista.sort()
print(lista)
par = []
impar =[]
for i in range(30):
  if lista[i]%2==0:       # si es igual a cero nos da los pares 
    par += [lista[i]]
  else:
    impar += [lista[i]]
print(par)
print(impar)

[14, 16, 18, 19, 20, 21, 23, 27, 29, 31, 32, 39, 41, 47, 51, 55, 56, 58, 62, 67, 68, 70, 74, 77, 79, 80, 87, 88, 97, 98]
[14, 16, 18, 20, 32, 56, 58, 62, 68, 70, 74, 80, 88, 98]
[19, 21, 23, 27, 29, 31, 39, 41, 47, 51, 55, 67, 77, 79, 87, 97]

#### Método 2
Usando sample, sorted, append

In [ ]:
from random import sample, seed
seed()
l = sample(range(10,100),30)
print(sorted(l))
par, impar = [], []
for n in l:
  if n%2:             # no igualamos a nada, si el módulo es cero equivale a False, si el módulo es 1 equivale a True
    impar.append(n)
  else:
    par.append(n)
print(sorted(par))
print(sorted(impar))

[13, 16, 17, 18, 20, 26, 28, 30, 32, 33, 36, 37, 38, 40, 41, 47, 59, 61, 62, 63, 64, 68, 71, 77, 82, 87, 88, 93, 95, 99]
[16, 18, 20, 26, 28, 30, 32, 36, 38, 40, 62, 64, 68, 82, 88]
[13, 17, 33, 37, 41, 47, 59, 61, 63, 71, 77, 87, 93, 95, 99]

### Reto 10.1. Separar positivos y negativos
* Generar 30 números aleatorios enteros entre -100 y +100
* Separarlos en dos listas
* Si sale el cero, se avisa por pantalla,se invalidan las listas y se comienza de nuevo

## ```None```
* Podemos tener una variable sin ningún valor.
* ```None``` representa la asuncia de valor en una variable
* Esto se puede conseguir si asociamos un método que no devuelve nada a una variable
* Esa variable será None

#### Ejemplo con ```append```

In [ ]:
lista = [1,2,3]
ampliada = lista.append(4)     # esto no deberíamos hacerlo ya que append no devuelve nada y no hace nada si se asigna a una variable
lista                          # la variable lista si tiene un elemento añadido al final

[1, 2, 3, 4]

In [ ]:
ampliada                       # no devuelve nada

In [ ]:
print(ampliada)                # si imprimimos la variable vemos que es de tipo None

None

In [ ]:
type(ampliada)                 # el tipo de la variable es None

NoneType

#### Ejemplo con ```sort```

In [ ]:
lista = [4,2,1,3]
lista_ordenada = lista.sort() # esto no deberíamos hacerlo ya que sort no devuelve nada y no hace nada si se asigna a una variable
lista                         # la lista queda ordenada

[1, 2, 3, 4]

In [ ]:
lista_ordenada                # no devuelve nada

In [ ]:
type(lista_ordenada)          # la variable es de tipo None

NoneType

## Añadir productos a la lista de la compra
* Crear una lista de la compra e ir añadiendo productos a la lista de la compra
* Se finaliza cuando se pulsa ENTER sin añadir nada

In [ ]:
print("LISTA DE LA COMPRA")
lista = []
while True:
  producto = input("Añada un producto a la lista de la compra: ")
  if producto=="":
    print("Lista terminada.")
    break
  lista.append(producto)

print("Lista de la compra:")
print(lista)

LISTA DE LA COMPRA
Añada un producto a la lista de la compra: pan
Añada un producto a la lista de la compra: leche
Añada un producto a la lista de la compra: fruta
Añada un producto a la lista de la compra: pasta
Añada un producto a la lista de la compra:
Lista terminada.
Lista de la compra:
['pan', 'leche', 'fruta', 'pasta']

## Extender una lista con ```extend```
* El método ```append``` añade de uno en uno los elementos a una lista.
* Con ```extend``` podemos añadir varios elementos
* Equivale a concatenar dos listas

In [ ]:
numeros = [1,2,3]
otros = [4,5]
numeros.append(otros)        # append requiere solo un argumento, si añadimos la lista 'otros' lo añade como un solo elemento de tipo lista
numeros                      # [1, 2, 3, [4, 5]]  vemos que el resultado no es lo que queríamos

[1, 2, 3, [4, 5]]

In [ ]:
numeros = [1,2,3]
otros = [4,5]
numeros += otros             # concatenando listas
numeros

[1, 2, 3, 4, 5]

In [ ]:
numeros = [1,2,3]
otros = [4,5]
numeros.extend(otros)        # con 'extend' conseguimos el mismo objetivo, extender la lista
numeros

[1, 2, 3, 4, 5]

### Uso de ```extend``` con un strign

In [ ]:
letras = ['H','o','l','a']
letras.extend("Edu")         # extend actúa sobre una palabra que es un iterable
letras

['H', 'o', 'l', 'a', 'E', 'd', 'u']

### Dadas dos listas construir otra lista
* Caso 1
 - Nos dan la lista a = [1,2,3]
 - Nos dan la lista b = [4,5]
 - La lista que se tiene que construir es [1,2,3,4,5]
* Caso 2
 - Nos dan la lista p = [1,2,3,4]
 - Nos dan la lista q = [5]
 - La lista que se tiene que construir es [1,2,3,4,5]

 ¿Con qué método lo ha resuelto, con ```append``` o con ```extend```?

#### Solución. Caso 1

In [ ]:
a = [1,2,3]
b = [4,5]
a.extend(b)        # [1, 2, 3, 4, 5] resuelto con extend
a

[1, 2, 3, 4, 5]

In [ ]:
a = [1,2,3]
b = [4,5]
a.append(b)        # [1, 2, 3, [4, 5]] con append no quedaría bien resuelto
a

[1, 2, 3, [4, 5]]

#### Solución. Caso 2

In [ ]:
p = [1,2,3,4]
q = [5]
p.extend(q)        # [1, 2, 3, 4, 5] resuelto con extend
p

[1, 2, 3, 4, 5]

In [ ]:
p = [1,2,3,4]
q = [5]
p.append(q)        # [1, 2, 3, 4, [5]] con append no quedaría bien resuelto, el cinco se incorpora como lista no como número
p

[1, 2, 3, 4, [5]]

## Método ```insert```
* Permite insertar elementos dentro de una lista en el lugar especificado.
* el método ```append``` siempre añade al final de la lista

In [ ]:
lista = [1,2,4,5]
num = 3               # num es un número entero
lista.insert(2,num)   # el primer argumento es el index donde queremos colocarlo
lista

[1, 2, 3, 4, 5]

In [ ]:
lista = [1,2,4,5]
l = [3]                 # l es una lista
lista.insert(2, l[0])   # de la lista l obtenemos el primer elemento
lista

[1, 2, 3, 4, 5]

### Crear una lista en base a otras listas y valores
* a = 1
* b = [2,3]
* c = [4]
* d = 5
* Deseamos crear la lista [1,2,3,4,5]

¿Ha usado los métodos ```append```, ```extend```, ```insert```?

In [ ]:
a = 1
b = [2,3]
c = [4]
d = 5
[a]+b+c+[d]

[1, 2, 3, 4, 5]

In [ ]:
a = 1
b = [2,3]  # partimos de la lista b que ya es una lista y nos ahorramos crear otra
c = [4]
d = 5
b.insert(0,a)
b.extend(c)
b.append(d)
b

[1, 2, 3, 4, 5]

### Reto 10.2. Solucionar una equivocación
En la siguiente lista nos hemos equivocado.
* lista = [1,2,3,[4],5,6,]
* El número 4 lo hemos añadido como lista cuando lo que deseamos realmente es añadirlo como número.
* ¿Podrías solucionarlo?