<a href="https://colab.research.google.com/github/seldoncode/Python_CoderDojo/blob/main/Python_CoderDojo07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos
* int Enteros
* float Flotantes, decimales
* str String, cadenas
* bool Booleanos (True,False)
* list Listas, ejemplo [1,2,3]

Con la función ```type()``` podemos saber de que tipo es cada dato.

In [ ]:
type(5)

int

In [ ]:
type(8/2)   # 8/2 da como resultado 4.0 que es un número decimal o flotante

float

In [ ]:
type("Hola")

str

In [ ]:
type(2==8/4)   # la condición lógica da True que es un booleano

bool

In [ ]:
l = ["Madrid","Berlín","Paris","Roma"]    # definimos la lista l que contiene cuatro elementos de tipo str
type(l)

list

# Accediendo a los caracteres de un string
* Los caracteres de un string comienzan a numerarse por cero.
* Se denomina índice (index) al número con el que nos referimos a la posición de cada caracter.
* Ejemplo:
 - "Hola" tiene cuatro caracteres y el index comienza por cero
   * índice 0: 'H'
   * índice 1: 'o'
   * índice 2: 'l'
   * índice 3: 'a'

| Index | Caracter |
|------:|---------:|
|      0|       'H'|
|      1|       'o'|
|      2|       'l'|
|      3|       'a'|

In [ ]:
palabra = "Hola"
palabra[0]            # así accedemos al caracter de índice 0

'H'

In [ ]:
palabra[1]            # así accedemos al caracter de índice 1

'o'

In [ ]:
palabra[2]            # así accedemos al caracter de índice 2

'l'

In [ ]:
palabra[3]            # así accedemos al caracter de índice 3

'a'

In [ ]:
"Avión"[1]             # accedemos a la letra 'v' ya que ocupa el índice 1

'v'

## Índices negativos
Podemos acceder a los índices negativos.
-1 hace referencia al último caracter.

In [ ]:
print(palabra[-1])      # 'a'
print(palabra[-2])      # 'l'
print(palabra[-3])      # 'o'
print(palabra[-4])      # 'H'

a
l
o
H

## Slicing strings
Podemos recortar una cadena tomando unos cuantos caracteres.

In [ ]:
cadena = "Buenos Aires"
cadena[0:5]              # recortamos la cadena desde el caracter de índice 0 al índice 4

'Bueno'

In [ ]:
cadena[:5]               # si no se pone el inicio se comienza desde el índice cero

'Bueno'

In [ ]:
cadena[2:6]

'enos'

In [ ]:
cadena[7:12]

'Aires'

In [ ]:
cadena[7:]               # si no ponemos el final se obtiene hasta el último caracter

'Aires'

### Slicing y variables

In [ ]:
a = "Frecuencia"
b = "casa"
c = a[:3] + b[2:]
c

'Fresa'

### Reto 7.1. Construir palabras usando otras
Usando las variables:
* a = "ovillo"
* b = "transformara"
* c = "amoroso"

costruya la variable:

* d = "maravilloso"

# Longitud de una cadena
Podemos calcular la logitud de una cadena alfanumérica con:

```len(string)```

In [ ]:
len("Hola")

4

In [ ]:
a = "Buenos días"    # el espacio cuenta como un caracter más
len(a)

11

# Listar todos los caracteres que componen una palabra o frase
### Accediendo a los caracteres del string  
Usaremos un bucle ```while``` y recorreremos todos los caracteres, accediendo a ellos de forma individual.

Como variable auxiliar del ```while``` utilizaremos la letra ```i``` que hace referencia al index del string.

In [ ]:
palabra = "Playa"           # la longitud de Playa es 5
i=0                         # inicializamos la variable auxiliar i que hace referencia al index del string
while i<=len(palabra)-1:    # la variable i, que hace referencia la index de cada caracter, toma los valores 0, 1, 2, 3, 4
  print(palabra[i])         # imprimimos el caracter i-ésimo (el de índice i que toque en cada ciclo del loop)
  i += 1                    # incrementa el valor de i (index) de uno en uno

P
l
a
y
a

El siguiente código es una variante del código anterior.  
¿Cuál te gusta más?

In [ ]:
palabra = "Playa"
i=0
while i<len(palabra):       # la variable auxiliar i toma los valores 0, 1, 2, 3, 4 de esta forma recorre los 5 caracteres de Playa por su índice
  print(palabra[i])
  i += 1

P
l
a
y
a

## Contar cuantas veces aparece un caracter en una frase
Contar cuantas veces aparece la letra 'i' acentuada o sin acentuar en la siguiente frase:

En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor.

In [ ]:
frase = '''
En un lugar de la Mancha, de cuyo nombre no quiero acordarme, 
no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, 
adarga antigua, rocín flaco y galgo corredor.'''

contador = 0
i=0
while i<len(frase):
  if frase[i]=='i' or frase[i]=='í':
    contador += 1
  i+=1

print(contador)

8

## Los string son inmutables
Podemos acceder al contenido de un caracter dentro de un string pero no podemos cambiarlo.

In [ ]:
palabra = "libro"
palabra[4]               # podemos acceder a la última letra por su índice

'o'

In [ ]:
#palabra[4] = 'e'        # ERROR: no podemos cambiar la última letra ya que los strings son inmutables

Con el siguiente truco podemos modificar el contenido de una palabra cambiando una letra.

In [ ]:
palabra =  "libro"
palabra = palabra[:-1] + 'e'        # tomamos parte de la palabra con slicing y con el signo + concatenamos con el caracter que queremos cambiar
palabra

'libre'

### Reto 7.2. Cambar una palabra cambiando una parte de ella
Convierte la palabra 'gato' en 'gota' modificando el string.

# Instrucción ```in```
## Ver si un caracter está en una palabra
Con la partícula ```in``` podemos comprobar si un caracter se encuentra en un stgring.

In [7]:
'h' in 'ahora'

True

In [8]:
'e' in "España"       # los string son case-sensitive (sesibles a mayúsculas y minúsculas)

False

In [9]:
'sp' in "España"      # tambień podemos ver si varios caracteres están en un string

True

In [10]:
'cosmo' not in 'astronauta'   # también funciona:  not in

True

## Funciones ```lower()``` y ```upper()```
* La función ```lower()``` conviente un string todo a minúsculas.
* La función ```upper()``` conviente un string todo a mayúsculas.

In [11]:
frase = "En Los Ángeles vive Ana"
print(frase.lower())

en los ángeles vive ana

In [12]:
frase = "En Los Ángeles vive Ana"
print(frase.upper())

EN LOS ÁNGELES VIVE ANA

### Vocales de una palabra
Dada una palabra o frase contar cuántas vocales tiene, incluyendo las que llevan o no llevan tilde.

vocales = "aeiouáéíóú"

In [13]:
palabra = "América"
palabra = palabra.lower()  # convertimos todo a minúsculas
vocales = "aeiouáéíóú"
i = 0                      # i es el índice
num_voc = 0
while i < len(palabra):
  if palabra[i] in vocales:
    num_voc += 1
  i += 1
print("El número de vocales es", num_voc)

El número de vocales es 4

### Reto 7.3. Vocales y consonantes de una palabra
Dada una palabra calcular el número de vocales y consonantes que tiene.

consonantes = "bcdfghjklmnñpqrstvwxyz"

¿En su código ha usado ```elif```?

# Tuplas
Una tupla es una estructura de datos que contiene varios elementos.

Son un tipo de datos secuencia al igual que los string o las listas.

Los elementos se guardan entre paréntesis.

Se parecen a las listas, pero en las listas los datos van entre corchetes [1,2,3] y existen diferencias entre ambas estructuras de datos secuencia.

In [14]:
mitupla = (1,2,3)         # los datos van entre paréntesis
mitupla

(1, 2, 3)

In [15]:
otratupla = (90,'Hola',3.14,(1,2,3),True)   # una tupla puede incluir diferentes tipos de datos, incluso otras tuplas
otratupla

(90, 'Hola', 3.14, (1, 2, 3), True)

### Concatenando tuplas

In [21]:
t1 = (1,2,3)
t2 = (4,5,6,7)
t3 = t1 + t2          # concatemamos tuplas
t3

(1, 2, 3, 4, 5, 6, 7)

In [22]:
t1+t2 == t2+t1       # las tuplas son estructuras de datos ordenadas. El orden importa

False

### Accediendo a los elementos de una tupla por su índice

In [23]:
t = ('Madrid','París','Berlín','Roma','Londres','Amsterdam')
t[0]

'Madrid'

In [24]:
t[2:4]

('Berlín', 'Roma')

In [26]:
t[4:5]   # devuelve solo un elemento pero en forma de tupla, observe la coma

('Londres',)

## Trabajando con tuplas
### Longitud

In [27]:
len(t)

6

### Creando una tupla

In [28]:
a = (1)      # esto no es una tupla de un elemento
print(a)     # no se imprime con paréntesis ya que no es una tupla
type(a)      # comprobamos que no es una tupla

1

int

In [29]:
b = (1,)     # para que sea una tupla de un elemento, además de los paréntesis, tenemos que poner una coma
print(b)     # aparece entre paréntesis porque si es una tupla
type(b)      # comprobamos que es de tipo tupla

(1,)

tuple

### Convirtiendo una lista en una tupla
Podemos convertir una lista en una tupla.

In [33]:
c = tuple([1,2,3]) # La lista va entre corchetes [1,2,3] y se conviente en tupla con la función tuple()
print(c)           # aparece entre paréntesis porque si es una tupla
type(c)            # comprobamos que es de tipo tupla

(1, 2, 3)

tuple