<a href="https://colab.research.google.com/github/seldoncode/Python_CoderDojo/blob/main/Python_CoderDojo03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos
## String (cadenas alfanuméricas)
Los string van entre comillas dobles, o entre comillas simples.
Si dentro de un string queremos que aparezcan unas comillas, se deben emplear diferentes comillas. Uno de estos dos casos:
* el string va con comillas simples y dentro ponemos las comillas dobles
* el string va con comillas dobles y dentro ponemos las comillas simples

In [ ]:
# Comillas dobles dentro de comillas simples
print('Ella digo "Hola" al entrar en casa')

In [ ]:
# Comillas simples dentro de comillas dobles
print("El digo 'Hey' al subir al bus")

In [ ]:
print("2+3", "=", 2+3)       # "2+3" es un string porque va entre comillas y 2+3 se evalúa y da un número porque no lleva comillas

In [ ]:
"2+3" == "3+2"               # False, porque son cadenas diferentes, no se evalúan como números

In [ ]:
"2+3" == "5"                 # False, porque no se evalúan como números

In [ ]:
eval("2+3")                  # función que evalúa un string

### Reto3.1 Genitivo sajón
Usando print, imprimir por pantalla una frase sencilla que use el genitivo sajón.

### Reto 3.2 Evaluar un booleano
* Evalúe la expresión ```-eval("2==2")*7``` y trate de explicar su resultado.
* Evalúe con ```eval()``` algunas operaciones que contengan operaciones algebráicas y que incluyan algún booleano.

## Ordenar cadenas alfabéticamente

In [ ]:
print(5 < 10)            # True, 5 es menor que 10, con números ya lo habíamos visto
print('a' < 'z')         # True, 'a' está antes que 'z' en el orden alfabético
print('abzzzz' < 'ac')   # True, 'abzzzz'  está antes que 'ac' en el orden alfabético

## Concatenar cadenas
Los string se unen usando el signo más +

In [ ]:
'Spider' + 'man'      # concatenamos dos string, el resultado será un nuevo string donde ambas cadenas quedan unidas

In [ ]:
'Buenos ' + 'días'    # hemos dejado un espacio después de la palabra Buenos para que quede con espacio la frase

## Repetir cadenas
Los string se pueden repetir, esto se consigue multiplicando por un número.

In [ ]:
print("Hi"*3)

In [ ]:
"Estoy seguro de eso, " + "nunca "*3 + "lo haré."

## Comparar cadenas

In [ ]:
"a"+"b"+"c" == "abc"        # True

### Reto 3.3 Concatenar, ordenar y multiplicar strings
Crea cuatro condicionales lógicos que contengan strings y que todos ellos den como resultado **True**.
1. un condicional que contenga cadenas concatenadas
2. un condicional que tenga una comparación del orden de sus caracteres tipo diccionario
3. un condicional que tenga un producto de una cadena por un número  
4. una combinación de varios de los anteriores

## Imprimir cadenas y variables

In [ ]:
print("Hola, me llamo Pedro")            # siempre imprime lo mismo, no hay variable

nombre = 'Susana'
print("Hola, me llamo", nombre)          # se puede cambiar el contenido de la variable

In [ ]:
nombre = "Susana"
edad = 14
print("Hola, me llamo", nombre, " y tengo",edad," años.")                      # separando con comas

In [ ]:
# concatenando
nombre = "Raul"
edad = 17
print("Hola, me llamo " + nombre + " y tengo " + str(edad) +" años.")          # str es una función que convierte un número en un string, si no se pone da error

## Imprimir usando format
Existen dos sistemas de imprimir con formato:
1. Sistema antiguo con format: 
 * print("Hola, me llamo {} y tengo {} años".format("Ana", 16))
2. Sistema nuevo, con **f** de format: 
 * nombre = "Jorge"
 * edad = 15
 * print(**f**"Hola, me llamo {nombre} y tengo {edad} años")

In [ ]:
print("Hola, me llamo {} y tengo {} años".format("Ana", 16))

In [ ]:
# usando el sistema f de format que es más moderno
nombre = 'Jorge'
edad = 15
print(f"Hola, me llamo {nombre} y tengo {edad} años")

## Funciones que convierten el tipo de datos
* ```str()``` convierte a string
* ```int()``` convierte a número entero (integer)
* ```float()``` convierte un número flotante

In [ ]:
str(25.4)

In [ ]:
int("37")

In [ ]:
float("25.4")

In [1]:
float(4)

4.0

### Reto 3.4. Imprimiendo con formato
Crea cuatro variables:
* marca del coche
* modelo del coche
* color
* velocidad máxima

Imprime una frase con formato que use estas variables.

### Reto 3.5. Corrigiendo errores
Las siguientes líneas de código dan un error.
* Por favor, escriba el código correcto para evitar el error.
* Escriba una forma alternativa de imprimir con formato.

In [ ]:
nombre = Silvia
edad = 13
print("Hola, soy", nombre, "y tengo", edad, "años".)        # da error y hay que depurarlo

# Introduciendo datos con ```input()```
Con la función input conseguimos capturar lo que el usuario escriba por teclado.  
Input siempre captura un **string**. Si introducimos un número 5 lo que captura es '5'.

In [3]:
print("Hola, buenos días.")
input("¿Cómo te llamas? ")                   # nos piden el nombre pero no se guarda en una variable, por lo que se olvida

Hola, buenos días.
¿Cómo te llamas? Ana

'Ana'

In [6]:
print("Hola.")
nombre = input("¿Cómo te llamas? ")          # recogemos el nombre en una variable, esto hace que se recuerde y se pueda usar luego
print(f"Buenos días {nombre}, hoy conocerás a muchos amigos.")

Hola.
¿Cómo te llamas? Eva
Buenos días Eva, hoy conocerás a muchos amigos.

### Reto 3.6. Saludando a los nuevos amigos
Pregunta a alguien tres cosas, una que sera numérica. Por ejemplo:
* nombre
* edad
* juego favorito o afición  
Imprime una frase con esos tres datos.

### Reto 3.7. Doble de años
* Pregunta a alguien su nombre y su edad.
* Di a esa persona cuantos años tendrá cuando doble su edad.

## Convirtiendo la entrada de un ```input``` en un número
Lo que recoge un ```input``` siempre es un string,  
en algunos casos nos interesará convertirlo en un número de tipo ```int``` o de tipo ```float```.

In [12]:
print("Por favor, diga:")
year = input("¿En que año estamos hoy? ")                                  # lo que se obtiene con el input es un string. Evitamos poner año por la ñ
year = int(year)                                                           # convertimos el string en un int

edad = int(input("¿Cuántos años ha cumplido o va a cumplir este año? "))   # en una sola línea ponemos el input y lo convertimos en int

print("He calculado que usted nació en el año " + str(year-edad))          # si concatenamos con +, es necesario usar str()

Por favor, diga:
¿En que año estamos hoy? 2022
¿Cuántos años ha cumplido o va a cumplir este año? 16
He calculado que usted nació en el año 2006

In [ ]:
# otra opción para imprimir el texto anterior que no usa str()
print("He calculado que usted nació en el año", year-edad)                # separando con coma no se usa str()

In [ ]:
# también podemos usar el formato f (¿cuál es tu sistema preferido?)
print(f"He calculado que usted nació en el año {year-edad}.")             # aquí hemos cerrado la frase con punto, en los otros sistemas sería más incómodo poner el punto

## Calcular la nota media de dos exámenes

In [6]:
nota1 = 7.4
nota2 = 8.6
media = (nota1+nota2)/2
print("La nota media es " + str(media))

La nota media es 8.0

In [13]:
# otra forma de resolverlo, usando input, float y formato f para imprimir el resultado
print("**********************************")
print("*                                *")
print("*    CÁLCULO DE LA NOTA MEDIA    *")
print("*                                *")
print("**********************************")

nota1 = float(input("Indique la primera nota: "))      # float convierte el string capturado por input y lo convierte en un número de coma flotante
nota2 = float(input("Indique la segunda nota: "))

print(f"La nota media es {(nota1+nota2)/2}")           # con el sistema f de formato podemos escribir fórmulas dentro de las llaves {}

**********************************
*                                *
*    CÁLCULO DE LA NOTA MEDIA    *
*                                *
**********************************
Indique la primera nota: 6.5
Indique la segunda nota: 9.7
La nota media es 8.1

### Reto 3.8. Calcular el área de un rectángulo
Sabemos que la superficie de un rectángulo se obtiene multiplicamdo sus dos lados.  
Crear un programa que pida al usuario la longitud de los dos lados del rectángulo y muestre en pantalla su superficie.

Por ejemplo, la frase a imprimir podría ser parecida a esta:  
En un rectángulo donde un lado es 12 m y el otro es 5 m, el área es 60 m².