<a href="https://colab.research.google.com/github/seldoncode/Python_CoderDojo/blob/main/Python_CoderDojo07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos
* int → Enteros
* float → Flotantes, decimales
* str → String, cadenas
* bool → Booleanos (True,False)
* list → Listas, ejemplo [1,2,3]

Con la función ```type()``` podemos saber de que tipo es cada dato.

In [ ]:
type(5)

int

In [ ]:
type(8/2)   # 8/2 da como resultado 4.0 que es un número decimal o flotante

float

In [ ]:
type("Hola")

str

In [ ]:
type(2==8/4)   # la condición lógica da True que es un booleano

bool

In [ ]:
l = ["Madrid","Berlín","Paris","Roma"]    # definimos la lista l que contiene cuatro elementos de tipo str
type(l)

list

# Accediendo a los caracteres de un string
* Los caracteres de un string comienzan a numerarse por cero.
* Se denomina índice (index) al número con el que nos referimos a la posición de cada caracter.
* Ejemplo:
 - "Hola" tiene cuatro caracteres y el index comienza por cero
   * índice 0: 'H'
   * índice 1: 'o'
   * índice 2: 'l'
   * índice 3: 'a'

| Index | Caracter |
|------:|---------:|
|      0|       'H'|
|      1|       'o'|
|      2|       'l'|
|      3|       'a'|

In [ ]:
palabra = "Hola"
palabra[0]            # así accedemos al caracter de índice 0

'H'

In [ ]:
palabra[1]            # así accedemos al caracter de índice 1

'o'

In [ ]:
palabra[2]            # así accedemos al caracter de índice 2

'l'

In [ ]:
palabra[3]            # así accedemos al caracter de índice 3

'a'

In [ ]:
"Avión"[1]             # accedemos a la letra 'v' ya que ocupa el índice 1

'v'

## Índices negativos
Podemos acceder a los índices negativos.
-1 hace referencia al último caracter.

In [ ]:
print(palabra[-1])      # 'a'
print(palabra[-2])      # 'l'
print(palabra[-3])      # 'o'
print(palabra[-4])      # 'H'

a
l
o
H

## Slicing strings
Podemos recortar una cadena tomando unos cuantos caracteres.

In [ ]:
cadena = "Buenos Aires"
cadena[0:5]              # recortamos la cadena desde el caracter de índice 0 al índice 4

'Bueno'

In [ ]:
cadena[:5]               # si no se pone el inicio se comienza desde el índice cero

'Bueno'

In [ ]:
cadena[2:6]

'enos'

In [ ]:
cadena[7:12]

'Aires'

In [ ]:
cadena[7:]               # si no ponemos el final se obtiene hasta el último caracter

'Aires'

### Slicing y variables

In [ ]:
a = "Frecuencia"
b = "casa"
c = a[:3] + b[2:]
c

'Fresa'

### Reto 7.1. Construir palabras usando otras
Usando las variables:
* a = "ovillo"
* b = "transformara"
* c = "amoroso"

costruya la variable:

* d = "maravilloso"

# Longitud de una cadena
Podemos calcular la logitud de una cadena alfanumérica con:

```len(string)```

In [ ]:
len("Hola")

4

In [ ]:
a = "Buenos días"    # el espacio cuenta como un caracter más
len(a)

11

# Listar todos los caracteres que componen una palabra o frase
### Accediendo a los caracteres del string  
Usaremos un bucle ```while``` y recorreremos todos los caracteres, accediendo a ellos de forma individual.

Como variable auxiliar del ```while``` utilizaremos la letra ```i``` que hace referencia al index del string.

In [ ]:
palabra = "Playa"           # la longitud de Playa es 5
i=0                         # inicializamos la variable auxiliar i que hace referencia al index del string
while i<=len(palabra)-1:    # la variable i, que hace referencia la index de cada caracter, toma los valores 0, 1, 2, 3, 4
  print(palabra[i])         # imprimimos el caracter i-ésimo (el de índice i que toque en cada ciclo del loop)
  i += 1                    # incrementa el valor de i (index) de uno en uno

P
l
a
y
a

El siguiente código es una variante del código anterior.  
¿Cuál te gusta más?

In [ ]:
palabra = "Playa"
i=0
while i<len(palabra):       # la variable auxiliar i toma los valores 0, 1, 2, 3, 4 de esta forma recorre los 5 caracteres de Playa por su índice
  print(palabra[i])
  i += 1

P
l
a
y
a

## Contar cuantas veces aparece un caracter en una frase
Contar cuantas veces aparece la letra 'i' acentuada o sin acentuar en la siguiente frase:

En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor.

In [ ]:
frase = '''
En un lugar de la Mancha, de cuyo nombre no quiero acordarme, 
no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, 
adarga antigua, rocín flaco y galgo corredor.'''

contador = 0
n=0
while n < len(frase):
  if frase[n]=='i' or frase[n]=='í':
    contador += 1
  n += 1

print(contador)

8

## Los string son inmutables
Podemos acceder al contenido de un caracter dentro de un string pero no podemos cambiarlo.

In [ ]:
palabra = "libro"
palabra[4]               # podemos acceder a la última letra por su índice

'o'

In [ ]:
#palabra[4] = 'e'        # ERROR: no podemos cambiar la última letra ya que los strings son inmutables

Con el siguiente truco podemos modificar el contenido de una palabra cambiando una letra.

In [ ]:
palabra =  "libro"
palabra = palabra[:-1] + 'e'        # tomamos parte de la palabra con slicing y con el signo + concatenamos con el caracter que queremos cambiar
palabra

'libre'

### Reto 7.2. Cambar una palabra cambiando una parte de ella
Convierte la palabra 'gato' en 'gota' modificando el string.

# Instrucción ```in```
## Ver si un caracter está en una palabra
Con la partícula ```in``` podemos comprobar si un caracter se encuentra en un stgring.

In [ ]:
'h' in 'ahora'

True

In [ ]:
'e' in "España"       # los string son case-sensitive (sesibles a mayúsculas y minúsculas)

False

In [ ]:
'sp' in "España"      # tambień podemos ver si varios caracteres están en un string

True

In [ ]:
'cosmo' not in 'astronauta'   # también funciona:  not in

True

## Funciones ```lower()``` y ```upper()```
* La función ```lower()``` conviente un string todo a minúsculas.
* La función ```upper()``` conviente un string todo a mayúsculas.

In [ ]:
frase = "En Los Ángeles vive Ana"
print(frase.lower())

en los ángeles vive ana

In [ ]:
frase = "En Los Ángeles vive Ana"
print(frase.upper())

EN LOS ÁNGELES VIVE ANA

### Vocales de una palabra
Dada una palabra o frase contar cuántas vocales tiene, incluyendo las que llevan o no llevan tilde.

vocales = "aeiouáéíóú"

In [ ]:
palabra = "América"
palabra = palabra.lower()  # convertimos todo a minúsculas
vocales = "aeiouáéíóú"
i = 0                      # i es el índice
num_voc = 0
while i < len(palabra):
  if palabra[i] in vocales:
    num_voc += 1
  i += 1
print("El número de vocales es", num_voc)

El número de vocales es 4

### Reto 7.1. Vocales y consonantes de una palabra
Dada una palabra calcular el número de vocales y consonantes que tiene.

consonantes = "bcdfghjklmnñpqrstvwxyz"

¿En su código ha usado ```elif```?

# Tuplas
Una tupla es una estructura de datos que contiene varios elementos.

Son un tipo de datos secuencia al igual que los string o las listas.

Los elementos se guardan entre paréntesis.

Se parecen a las listas, pero en las listas los datos van entre corchetes [1,2,3] y existen diferencias entre ambas estructuras de datos secuencia.

In [ ]:
mitupla = (1,2,3)         # los datos van entre paréntesis
mitupla

(1, 2, 3)

In [ ]:
otratupla = (90,'Hola',3.14,(1,2,3),True)   # una tupla puede incluir diferentes tipos de datos, incluso otras tuplas
otratupla

(90, 'Hola', 3.14, (1, 2, 3), True)

### Concatenando tuplas

In [ ]:
t1 = (1,2,3)
t2 = (4,5,6,7)
t3 = t1 + t2          # concatemamos tuplas
t3

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
t1+t2 == t2+t1       # las tuplas son estructuras de datos ordenadas. El orden importa

False

### Accediendo a los elementos de una tupla por su índice

In [ ]:
t = ('Madrid','París','Berlín','Roma','Londres','Amsterdam')
t[0]

'Madrid'

In [ ]:
t[2:4]

('Berlín', 'Roma')

In [ ]:
t[4:5]   # devuelve solo un elemento pero en forma de tupla, observe la coma

('Londres',)

## Trabajando con tuplas
### Longitud

In [ ]:
len(t)

6

### Creando una tupla

In [ ]:
a = (1)      # esto no es una tupla de un elemento
print(a)     # no se imprime con paréntesis ya que no es una tupla
type(a)      # comprobamos que no es una tupla

1

int

In [ ]:
b = (1,)     # para que sea una tupla de un elemento, además de los paréntesis, tenemos que poner una coma
print(b)     # aparece entre paréntesis porque si es una tupla
type(b)      # comprobamos que es de tipo tupla

(1,)

tuple

### Convirtiendo una lista en una tupla
Podemos convertir una lista en una tupla.

In [ ]:
c = tuple([1,2,3]) # La lista va entre corchetes [1,2,3] y se conviente en tupla con la función tuple()
print(c)           # aparece entre paréntesis porque si es una tupla
type(c)            # comprobamos que es de tipo tupla

(1, 2, 3)

tuple

## Dadas tres tuplas construir otra con parte de sus elementos
Disponemos de las tres tuplas con lugares.  
Deseamos crear una tupla que obtenga de las tuplas dadas solo las capitales.

In [ ]:
geo1 = ("Alemánia","Madrid","Italia")
geo2 = ("Dinamarca","Noruega","Londres")
geo3 = ("Dublín","Portugal")
solucion1 = geo1[1:2]+geo2[2:]+geo3[0:1]
solucion1

('Madrid', 'Londres', 'Dublín')

In [ ]:
solucion2 = (geo1[1],geo2[2],geo3[0])
solucion2

('Madrid', 'Londres', 'Dublín')

In [ ]:
solucion3 = (geo1[1],)+(geo2[2],)+(geo3[0],)
solucion3

('Madrid', 'Londres', 'Dublín')

# Listas
* Son otros de los datos secuencia.
* Son los más utilizados.  
* Los elementos vas entre corchetes.
* En las listas los elementos van ordenados. El orden importa.

In [ ]:
lista = [1,2,3,4]
lista

In [ ]:
l = ["Rojo","Verde","Azul","Rosa","Naranja"]
l

['Rojo', 'Verde', 'Azul', 'Rosa', 'Naranja']

### Las listas no son inmutables
* Se pueden cambiar sus elementos.  
* Las tuplas son inmutables. El cambio siguiente no se puede hacer en tuplas.
* Cambiar el último color de la lista l por "Amarillo".
* Las tuplas son más rápidas que las listas. Esto no se nota con pocos elementos.

In [ ]:
l[-1] = "Amarillo"        # el índice -1 hace referencia al último elemento
l

['Rojo', 'Verde', 'Azul', 'Rosa', 'Amarillo']

#### Elige entre tupla o lista
Tenemos que elegir entre tupla o lista para los dos siguientes conjuntos de datos:
* Los días de la semana
* Los días de entrenamiento

In [ ]:
# Para las días de la semana elegimos tupla ya que no cambiarán
dias_semana = ("lun","mar","mié","jue","vie","sáb","dom")
# Para los días de entrenamiento elegiremos lista ya que pueden cambiar
dias_entrenamiento = ["lun","mié","vie"]
print(dias_semana)
print(dias_entrenamiento)

('lun', 'mar', 'mié', 'jue', 'vie', 'sáb', 'dom')
['lun', 'mié', 'vie']

## Añadir elementos a una tupla

In [ ]:
t = ()                 # tupla vacía
t = t + (1,2)          # añadimos a la tupla inicial otra tupla con dos elementos
t += (3,4,5)
t

(1, 2, 3, 4, 5)

### Añadimos elementos a una lista

In [ ]:
l = []                 # lista vacía
l = l + [1,2]          # añadimos a la lista inicial otra lista con dos elementos
l += [3,4,5]
l

[1, 2, 3, 4, 5]

In [ ]:
l = 3*l                 # repite tres veces la lista
l

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## Crear una lista añadiendo elementos
Partiendo de una lista vacía y usando un ```while``` crear una lista con los números del 1 al 20.

In [ ]:
lis = []                # creamos una lista vacía
i = 1                   # inicializamos el 1 el contador del while

while i<=20:            # mientras i sea menor o igual a 20
  lis += [i]            # añadimos al final de la lista el nuevo elemento
  i += 1                # aumenta el contador en 1 en cada ciclo del loop

print(lis)              # finalmente, fura del bucle, imprimimos la lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Reto 7.2. Construir una lista con los impares
Partiendo de una lista vacía ir añadiendo elementos, usando un ```while``` hasta obtener una lista con los números **impares** entre 1 y 50.

# Range
* Tipo de datos secuencia
* Podemos construir una estructura iterable con números usando range.
* Lo que se obtiene es un dato de tipo range.

In [ ]:
range(5,20)          # rango con origen en 5 y final en 20, excluido el úlitmo, el 20 no entra

range(5, 20)

In [ ]:
r1 = range(10)       # si no se pone el origen se entiende que es cero, va de 0 a 9
type(r1)             # vemos que es un objeto de tipo range
print(r1)            # al imprimir el objeto no se ven los números
print(list(r1))      # para que se vean se ha de convertir en lista usando list

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
10 in range(10)      # el último elemento no está incluido

False

### Range con salto
Si usamos un tercer argumento estaremos poniendo el salto (step).

In [ ]:
list(range(5,50,5))        # va de 5 en 5. El paso o salto es 5. El 50 no se incluye.

[5, 10, 15, 20, 25, 30, 35, 40, 45]

### Juego: pedir impares dentro de un intervalo
Pedir contínuamente impares enteros dentro del intervalo 10, 100, ambos incluidos, hasta que se proporcione un número que no cumpla esas condiciones, en cuyo caso finaliza el juego.  
Ir imprimiendo los números y usar ```while``` y ```range```.

#### Solución 1

In [ ]:
n = int(input("Diga un número entero impar entre 10 y 100: "))
while n in range(11,101,2):                # mientras n esté entre los impares del rango 11 a 100
  print("Estamos en el rango.")
  n = int(input("Diga otro número entero impar entre 10 y 100: "))
else:
  print("Estamos fuera del rango.")
  print("Fin del programa.")

Diga un número impar entre 10 y 100: 11
Estamos en el rango.
Diga otro número impar entre 10 y 100: 13
Estamos en el rango.
Diga otro número impar entre 10 y 100: 99
Estamos en el rango.
Diga otro número impar entre 10 y 100: 101
Estamos fuera del rango.
Fin del programa.

#### Solución 2 Usando una bandera lógica (flag)

In [ ]:
jugando = True                          # inicializamos la bandera como True
while jugando:                          # mientras la bandera se True. La 1ª vez se entra seguro al loop
  n = int(input("Diga un número entero impar entre 10 y 100: "))
  if n in range(11,101,2):
    print("Estamos en el rango.")
  else:
    print("Estamos fuera del rango.")
    print("Fin del programa.")
    jugando = False

Diga un número entero impar entre 10 y 100: 11
Estamos en el rango.
Diga un número entero impar entre 10 y 100: 16
Estamos fuera del rango.
Fin del programa.

### Juego: adivina los colores
* Se crea una lista de cinco colores secretos.
* El jugador va diciendo colores y por cada uno que adivine gana un punto.
* Por cada color acertado se van diciendo los puntos conseguidos.
* El juego termina cuando falla un color.
* Cuando termina el juego se informa de los puntos obtenidos.

In [ ]:
colores = ["rojo","verde","azul","rosa","naranja"]
puntos = 0
jugando = True         # bandera lógica
while jugando:
  color = input("Diga un color de la lista secreta: ").lower()
  if color in colores:
    puntos += 1
    print(f"¡Bien, acertó!. Tiene {puntos} puntos.")
  else:
    print("No acertó el color.")
    print(f"Ha finalizado el juego con {puntos} puntos.")
    jugando = False

Diga un color de la lista secreta: Azul
¡Bien, acertó!. Tiene 1 puntos.
Diga un color de la lista secreta: roSa
¡Bien, acertó!. Tiene 2 puntos.
Diga un color de la lista secreta: amarillo
No acertó el color.
Ha finalizado el juego con 2 puntos.

### Reto 7.3. Adivina el número
* Genere de forma aleatória un número entero entre 1 y 100, ambos incluidos. Este será el número secreto que se ha de adivinar.
* Pida al usuario que diga un número en ese rango hasta que lo adivine.
* Por cada número que diga el usuario se ha de responder indicando:
 - Si se ha ganado el juego. Esto sucederá cuando el número proporcionado por el usuario coincide con el número secreto.
 - Si el número secreto es mayor que el número dicho, se mostrará la frase: "El nº secreto es mayor."
 - Si el número secreto es menor que el número dicho, se mostrará la frase: "El nº secreto es menor."
* Cuando se adivide el número se felicitará al usuario, se dirá cuál era el número secreto y se dirá en cuantas tiradas lo ha conseguido adivinar.

# Diferencias entre tuplas y listas

Las tuplas y listas funcionan de manera muy parecida. Las tuplas ocupan menos memoria y se ejecutan más rapido. Pero la principal diferencia es que se pueden cambiar los valores de los elementos de las listas, en el caso de las tuplas no.

In [4]:
mitupla = (1,2,3)
milista =[10,20,30]
milista[0]= 7
milista

[7, 20, 30]

In [8]:
#Este codigo da error
#mitupla[0] = 8

In [7]:
tupla1 = ('a','b')
tupla2 = ('c','d')
tupla_total = tupla1 + tupla2
print(tupla_total)

('a', 'b', 'c', 'd')