# Presentación de Python
* El logo es una serpiente
* El creador es un holandés: [Guido van Rossum](https://es.wikipedia.org/wiki/Guido_van_Rossum)
* Lenguje de programación interpretado

In [ ]:
print("Hola mundo")

# Operaciones aritméticas
* \+ Suma
* \- Resta
* \* Multiplicación
* \/ División
* \// División entera
* \% Resto o módulo

In [ ]:
print(2+3)
print(2-3)
print(2*3)
print(28/5)
print(28//5)   # la división entera trunca decimales, no redondea
print(28%5)    # 25%5=0  26%5=1 27%5=2  28%5=3

### Reto 1.1. Precedencia en las operaciones
Calcular:
* 5 - 2 * 4
* 10 - 8 / 2 + 1 * 2
* (10 - 8) / 2 + 1 * 2
* 10 - 8 / (2 + 1) * 2

### Reto 1.2. De billetes a euros
Tengo cuatro billestes de diez euros y me dan dos billetes de veinte euros. Además me encuentro tres monedas de dos euros.  
Al final ¿cuantos euros tengo?

### Reto 1.3. Repartir caramelos en el cumpleaños
Ana ha comprado una bolsa de 100 caramelos para repartir entre los 23 alumnos de su clase, incluida ella. Tiene la intención de dar a todos el mismo número de caramelso, incluida a ella misma y si sobran traer alguno a su hermano pequeño.  
* ¿cuantos caramelos comío Ana?
* ¿cuantos caramelos le correspondían al hermano?
* A Ana le pareció un poco injusto que su hermano pudiera llegar a comer más caramelso que ella, así que le convención para que le diera algún caramelo de forma que al final ambos comieran los mismos ¿cuantos caramelos la dió su hermano?

# Operadores de comparación
* \== Igual que
* \!= Distinto que
* \< Menor que
* \<= Menor o igual que
* \> Mayor que
* \>= Mayor o igual que

In [ ]:
print(3 == 3)       # True
print(3 != 5)       # True
print(4 > 3+7)      # False
print(6 != 3*2)     # False

In [ ]:
3 = 3          # da error

In [ ]:
4 < = 5        # da error

### Reto 1.4. Compara valores
1. Ver si son verdaderas o falsas las siguientes comparaciones.
 * Dos más tres es menor que doce entre cuatro
 * Menos uno por True es igual a False menos True
2. ¿Por qué la siguiente expresión da error? y ¿cómo arreglarías el error?
 * (2<4) = (3>1)

# Operadores lógicos
* and
* or
* not

## Operador ```not```
Convierte lo verdadero en falso y lo falso en verdadero.

In [14]:
print(not(2>3))      # True
print(not(4!=5))     # False

True
False

In [13]:
print(not(False))    # True
print(not(True))     # False

True
False

## Operador ```and```
* True and True es igual a True
* True and False es igual a False
* False and False es igual a False

In [18]:
print((1<2) and (2<3))               # True, para que sea True todas las condiciones tienen que ser True
print((1<2) and (2>3))               # False
print((1>2) and (2<3))               # False
print((1>2) and (2>3))               # False
print((1<2) and (2<3) and (4==5))    # False, en cuanto una sea False el resultado es False

True
False
False
False
False

In [17]:
print(True and True)                 # True, para que sea True todas las condiciones tienen que ser True
print(True and False)                # False
print(False and True)                # False
print(False and False)               # False
print(True and True and False)       # False, en cuanto una sea False el resultado es False

True
False
False
False
False

## Operador ```or```
* True and True es igual a True
* True and False es igual a True
* False and False es igual a False

In [8]:
print((1<2) or (2<3))               # True
print((1<2) or (2>3))               # True
print((1>2) or (2<3))               # True
print((1>2) or (2>3))               # False, solo se obtiene False si todas las condiciones son False
print((1<2) or (2<3) or (4==5))     # True, en cuanto una sea True el resultado es True

True
True
False
True

In [11]:
print(True or True)                # True
print(True or False)               # True
print(False or True)               # True
print(True or False)               # False, solo se obtiene False si todas las condiciones son False
print(True or True or False)       # True, en cuanto una sea True el resultado es True

True
True
True
True

## Varios operadores
Podemos combiar operadores.

In [12]:
print((True and True) or False)                  # True
print((True or True) and not(True and False))    # True

True
True

### Reto 1.5. Adivina si es Verdadero o Falso
Intenta averiguar si el resultado es True o False antes de ejecutarlo.
* 2+3==6 or 3!=9/3
* not 2+2==4
* not((not(6<=2))*True)
* 2*4!=7 or (9%3+True)

### Reto 1.6. Compara condicones lógicas
A tres amigos, Ana, Borja y Claudia, solo les dejan ir a la piscina municipal si sus familias les dejan ir a todos ellos.
- Para que Ana logre ir a la piscina la tienen que dar permiso su padre y su madre.
- Para que a Borja le dejen ir a la piscina le tiene que dar permiso su padre o su madre.
- Para que a Claudia la dejer ir a la piscina la tiene que dar permiso su madre o preguntar a su dos hermanos mayores y ambos la tiene que dar permiso.

Pregunta: ¿Conseguirán ir los tres amigos a la piscina?
Montar unos cuantos casos para ver que sucederá.