<a href="https://colab.research.google.com/github/seldoncode/Python_CoderDojo/blob/main/RepasoPython01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

## Integer

In [ ]:
x = 5
print(x)
print(type(x))

5
<class 'int'>

## String

In [ ]:
y = '5'
print(y)
print(type(y))

5
<class 'str'>

### Diferencia entre integer y string

In [ ]:
print(5 == '5')

False

### No es lo mismo comparar que asignar

In [ ]:
print(x == 5)

True

## Boolean

In [ ]:
print(2 <= 5)
print(type(2 <= 5))

True
<class 'bool'>

## Float
* Con punto decimal
* En español se llaman "números de coma flotante"

In [ ]:
print(12/4)
print(type(12/4))

3.0
<class 'float'>

In [ ]:
2 + 3.

5.0

## Lista
* Se usan muchísimo en Python
* Es un array o vector

In [ ]:
lista = [1,2,3]
print(lista)
print(type(lista))

[1, 2, 3]
<class 'list'>

# Operadores lógicos

## ```not```

In [ ]:
print(not(5 == 5))

False

## ```and```

In [ ]:
a = True
b = True
c = True
print(a and b and c)   # da verdadero si todos son verdaderos

True

## ```or```

In [ ]:
a = False
b = False
c = False
print(a or b or c)   # da falso si todos son falso

False

## Contadores
Un contador es una variable que se va incrementando, habitualmente de uno en uno.

In [ ]:
vidas = 3                  # comenzamos un juego con 3 vidas
print(vidas)

vidas = vidas + 1          # si en el juego ganamos una vida podemos incrementar su valor en uno
print(vidas)

vidas += 1                 # esta es una forma abreviada de escribir lo mismo que antes. Incrementa las vidas en una más.
print(vidas)

vidas -= 1                 # perdemos una vida. Es una forma abreviada de escribir   vidas = vidas - 1
print(vidas)

3
4
5
4

# Concatenar

In [ ]:
a = "Buenos "
b = "Aires"
print(a + b + " es la capital de Argentina.")

Buenos Aires es la capital de Argentina.

In [ ]:
print("1" + "2")

12

In [ ]:
#print( "Tengo" + 15)        # ERROR

# Imprimir

In [ ]:
nombre = "Ana"
edad = 14
print("Hola, me llamo " + nombre + " y tengo " + str(edad) +" años.")
print("Hola, me llamo", nombre, "y tengo", edad, "años.") 
print(f"Hola, me llamo {nombre} y tengo {edad} años.")

Hola, me llamo Ana y tengo 14 años.
Hola, me llamo Ana y tengo 14 años.
Hola, me llamo Ana y tengo 14 años.

# Introduciendo datos con ```input()```
Con la función input conseguimos capturar lo que el usuario escriba por teclado.  
Input siempre captura un **string**. Si introducimos un número 5 lo que captura es '5'.

In [ ]:
nombre = input("¿Cómo te llamas? ")          # recogemos el nombre en una variable, esto hace que se recuerde y se pueda usar luego
nota = float(input("Nota del examen: "))     # float convierte el str a un número con decimales. Si fuera int convierte a un entero.
print(f"Buenos días {nombre}, en el examen tienes una nota de {nota}.")

¿Cómo te llamas? Jose
Nota del examen: 7.5
Buenos días Jose, en el examen tienes una nota de 7.5.

# Reto. Calcular la nota media de dos exámenes